@font-face {
	font-family: "jam12";
	src: url("/assets/fonts/Not\ Jam\ 12.ttf");
}

@font-face {
	font-family: "jam14";
	src: url("/assets/fonts/Not\ Jam\ 14.ttf");
}

* {
    font-family: "inconsolata";
    font-weight: 400;
}
html {
    display: flex;
    justify-content: center;
    background-image: url("/assets/images/adc/BG.png");
    background-size: 3%;
}
body {
    width: 100%;
    margin: 0px 10% 0px 10%;
    padding: 25px;
    background-color: rgba(65, 65, 65, 0.75);
    background-image: none;
    border-left: 4px solid rgb(125, 125, 125);
    border-right: 4px solid rgb(125, 125, 125);
    /* filter: drop-shadow(2px 2px 5px white); */
}
table, th, td {
    padding: 10px;
    border: 1px solid white;
    border-collapse: collapse;
}
h2 {
    font-size: 40px;
}
td,
p {
    font-size: 30px;
}

#logoHolder {
    display: flex;
    justify-content: center;
    width: 100%;
}
#logo {
    margin: -50px 0px -40px 0px;
    width: 40%;
}
#brief {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
#brief h3 {
    font-size: 25px;
    font-weight: bold;
}
#wishlist {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
#wishlist a {
    width: 35%;
    transition: .2s;
}
#wishlist a img {
    width: 100%;
}
#bandcamp {
    margin-left: 30px;
    width: 32% !important;
}
#discord {
    margin-left: 30px;
    width: 30% !important;
}
#video {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#video iframe {
    height: 400px;
    width: 700px;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.2));
    border-radius: 5px;
}
#screenshots {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#screenshots img {
    width: 30%;
    margin: 15px;
    border: 1px solid white;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.2));
    transition: .4s;
    z-index: 1;
}
#description {
    margin: 0px 5% 0px 2%;
    font-size: 25px;
}
#featuresTitle {
    margin: 25px 0px 10px 0px;
}
#features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
#features ul li {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 30%;
}
#codes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
}
#input {
    width: 60%;
    font-weight: 200;
    overflow-wrap: break-word;
}

#wishlist a:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}
/* #screenshots img:hover {
    position: absolute;
    z-index: 2;
    transform: scale(1.8);
} */