html {
    height: 100%;
}
body {
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: inherit;
    align-items: inherit;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
section {
    margin: 40px;
}
h1 {
    font-size: 45px;
    padding: 60px 0px 20px 0px;
    margin-bottom: 15px;
}
h2 {
    font-size: 40px;
    padding-bottom: 10px;
}
h3 {
    font-size: 30px;
}
input {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
select {
    margin-left: 15px;
}

#builder {
    margin: -20px;
    width: 100%;
}
#dialogs,
#events,
#base {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 50px;
}
#appendHere {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#misc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 50px;
}
#faq {
    display: flex;
    width: 1400px;
    margin-bottom: 25px;
    align-items: inherit;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity {
    margin: 20px;
}
.event {
    margin: 20px;
    padding: 15px;
    background-color: gray;
    border-radius: 10px;
    flex-basis: 25%
}
.button {
    padding: 10px !important;
    margin: 0px 10px 0px 10px
}
.checkbox {
    width: 20px;
    height: 20px;
}

.separator {
    background-color: rgba(0, 0, 0, 0.32);
    padding: 25px;
}

#exc {
    width: 100%;
    text-align: center;
}
#faq div {
    margin: 15px;
}