:root {
    --primary: #ffffff;
    --primary-75: #ffffff75;
    --secondary: #000000;
    --tertiary: #9ca3af;
    --primaryFont: 'Open Sans', sans-serif;
    --secondaryFont: "JetBrains Mono", monospace;
}
.drop-solid-black {
    filter: drop-shadow(2px 2px 0px black);
}
.drop-blurry-black {
    filter: drop-shadow(2px 2px 5px black);
}
* {
    margin: 0px;
    /* border: 1px solid pink; /* Remove after! */
}
body {
    background-color: var(--secondary);
    font-family: var(--primaryFont);
    color: white;
    /* backdrop-filter: blur(2px); */
    background-image: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60) ), url("../images/MainBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary-75); 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-75); 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary); 
}