/* Global and Header/Footer */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    width: 200px;
    height: 200px;
}
h2 {
    margin: 40px 0px 20px 0px;
    font-size: 50px;
}

/* Secret */
#secret {
    position: absolute;
    top: -125px;
    width: 400px;
    height: 150px;
    background-color: white;
    /* filter: blur(20px); */
    border-radius: 10px;
}

/* Logo */
#logo {
    position: relative;
    top: 20px;
    left: -80px;
}
#logo img {
    width: 240px;
    height: 240px;
    pointer-events: none;
    user-select: none;
    animation: 10s bounce infinite;
    filter: drop-shadow(5px 15px 8px rgb(25, 25, 25));
}

/* Coding */
#websiteTitle {
    width: fit-content;
}
.coding {
    width: 70%;
    padding: 40px 0px 0px 0px;
}
.coding h1 {
    text-transform: uppercase;
    font-size: 60px;
}
.coding h1 a {
    text-decoration: none;
    color: var(--primary);
}

/* Socials */
#socials {
    margin-top: 80px;
}
#adText {
    margin: 10px 0px 20px 0px;
}
#socialContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.social {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(124, 124, 124, 0.65);
    width: 450px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.social div {
    width: 100%;
}
.social img {
    width: 100px;
    height: 100px;
}
.social div a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
    filter: drop-shadow(2px 2px 0px black);
}   
.social div p {
    padding : 5px 0px 0px 0px;
}
.social:hover {
    scale: 1.05;
}
.social img:hover {
    filter: drop-shadow(1px 1px 1px black);
    scale: 1.04;
}

/* About & Others */
footer {
    height: auto;
    width: 100%;
    text-align: center;
}
footer marquee {
    padding: 15px;
}
footer img {
    width: 88px;
    height: 31px;
    padding: 10px 5px 10px 5px;
}
footer img:hover {
    transform: scale(1.10);
}
footer div a {
    margin-top: 40px;
    padding-bottom: 10px;
    color: var(--primary-75);
    text-decoration: none;
}
.subTitle {
    text-transform: capitalize;
    margin: 10px 0px 0px 0px;
    font-size: 30px;
}
.about {
    background-color: var(--primary);
    padding: 20px 30px 20px 30px;
    font-size: 30px;
}
.about p {
    font-size: 40px;
    color: black;
}
.temporary {
    display: flex;
    justify-content: center;
}
#randMessage {
    position: absolute;
    margin: 20px 0px 0px 0px;
    padding: 20px 30px 20px 30px;
    user-select: none;
    transition: transform .4s;
}
#randMessage p {
    font-size: 40px;
}
#websiteTitle:hover:after {
    content: "_";
}
#pronouns {
    background-color: #fe4fff;
    text-decoration: none;
}

@keyframes bounce {
	0%, 100% { transform: translateY(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateY(-10px); }
	20%, 40%, 60%, 80% { transform: translateY(10px); }
}