
/* Elements */
header {
    margin: 40px 0px 15px 0px;
    text-align: center;
}
main {
    display: flex;
    padding: 0px 10% 0px 20%;
    flex-wrap: wrap;
}
section {
    margin-bottom: 25px;
    flex: 1 0 50%;
}
legend {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
hr {
    width: 75%;
    margin: 25px 0px 25px 0px;
    color: white;
}
img {
    height: 22px;
    width: 22px;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 60px;
}
h3 {
    margin-bottom: 10px;
}
p {
    font-size: 20px;
    margin-top: -2px;
}
a {
    color: var(--accent);
}
footer p {
    margin: 15px 0px 15px 0px;
    margin-top: -2px;
    text-align: center;
}

/* By ID */
#bi {
    margin-top: 25px;
    margin-right: 15px;
    width: 150px;
    height: auto;
}
#pan {
    margin-top: 25px;
    width: 150px;
    height: auto;
}

/* Classes */
.entry {
    display: flex;
    margin-bottom: 10px;
    gap: 8px;
}
.wordSection {
    width: 100%;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.whatis {
    display: flex;
    margin: 0px 10px 0px 10px;
    gap: 5px
}
.wordsExtra {
    flex: 1 0 15%;
}
.separator {
    width: 100%;
    display: flex;
    justify-content: center;
}
.list img {
    padding-left: 25px;
}

/* Types */
.yes {
    color: #fe4fff;
}
.okay {
    color: #ffffff;
}
.no {
    color: #888888;
}
.joke {
    color: #ffed4f;
}
.close {
    color: #ff4f4f;
}
.sona {
    color: #4f9eff;
}