/* Elements */
header {
    margin-bottom: 15px;
    text-align: center;
}
legend {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
hr {
    width: 75%;
    margin: 25px 0px 25px 0px;
    color: white;
}

/* By ID */
#fadein {
    position: absolute;
    display: block;
    z-index: -5;
    width: 75%;
    height: 1150px;
    margin-left: 12.5%;
    margin-top: -25px;
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 95%);
}
#preferences {
    display: flex;
    padding: 0px 10% 0px 20%;
    flex-wrap: wrap;
}
#bi {
    margin-top: 25px;
    margin-right: 15px;
    width: 150px;
    height: auto;
}
#demi {
    margin-top: 25px;
    width: 150px;
    height: auto;
}
#prefLegend p {
    margin: 15px 0px 15px 0px;
    margin-top: -2px;
    text-align: center;
}

/* Classes */
.prefh3 {
    margin-bottom: 10px !important;
}
.prefh2 {
    font-size: 60px !important;
}
.prefP {
    font-size: 20px !important;
    margin-top: -2px;
}
.prefIcon {
    height: 22px !important;
    width: 22px !important;
}
.divider {
    margin-bottom: 25px;
    flex: 1 0 50%;
}
.entry {
    display: flex;
    margin-bottom: 10px;
    gap: 8px;
}
.wordSection {
    width: 100%;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.whatis {
    display: flex;
    margin: 0px 10px 0px 10px;
    gap: 5px
}
.wordsExtra {
    flex: 1 0 15%;
}
.separator {
    width: 100%;
    display: flex;
    justify-content: center;
}
.list img {
    padding-left: 25px;
}

/* Types */
.yes {
    color: #fe4fff;
}
.okay {
    color: #ffffff;
}
.no {
    color: #888888;
}
.joke {
    color: #ffed4f;
}
.close {
    color: #ff4f4f;
}
.sona {
    color: #4f9eff;
}

/* Mobile */
@media (max-width: 960px) {
    #preferences { padding: 0px 10% 0px 10%; }
    #fadein { display: none; }
}