html, body {
    width: 100%;
    overflow-x: hidden;
}
hr {
    width: 75%;
    margin: 25px 0px 25px 0px;
    color: white;
}
.separator {
    display: flex;
    justify-content: center;
    
    width: 100%;
    padding-top: 45px;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    
    gap: 40px;
    margin: 40px 0px 60px 0px;
    font-family: var(--secondaryFont);
}
#top p {
    font-size: 20px;
}
#top p a img {
    width: 18px;
}

/* Projects */
main div h2 {
    margin: 20px 0px 20px 0px;
    font-size: 50px;
}
#projects {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 100%;
    gap: 60px;
}
.projContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 80%;

    background-color: var(--primary-75);
    color: var(--secondary);
}
.projContainer img {
    position: relative;
    top: -10%;
    height: 180px;
    width: 180px;
    margin: 10px 0px 0px 0px;
    padding: 0px 50px 0px 25px;
}
.projContainer h3 {
    height: fit-content;
    width: 100%;
    
    text-align: center;
    font-size: 40px;
}
.projContainer p {
    height: fit-content;
    max-width: 50%;
    margin: 10px 0px 0px 15px;
    padding-right: 50px;
    
    font-size: 20px;
    text-align: left;
}
.projContainer p a  {
    color: rgb(255, 255, 255);
}
.links {
    position: relative;
    top: -10%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;

    height: 200px;
    width: fit-content;
    max-width: 20%;
}
.button {
    user-select: none;
    background: linear-gradient(0deg, rgb(106, 106, 106) 15%, rgba(138, 138, 138, 1) 95%);
    /* color: white; */
}

/* Project Classes */
/* background-color: rgba(189, 0, 240, 0.65); */
#games,
.games {
    background: linear-gradient(0deg, rgb(51, 94, 115) 15%, rgba(66, 191, 219, 1) 95%);
}
#origins,
.origins {
    background: linear-gradient(0deg, rgb(57, 129, 61) 15%, rgba(81, 219, 66, 1) 95%);
}
#websites,
.websites {
    background: linear-gradient(0deg, rgb(125, 116, 56) 15%, rgba(219, 211, 66, 1) 95%);
}
#music,
.music {
    background: linear-gradient(0deg, rgb(132, 100, 59) 15%, rgba(219, 153, 66, 1) 95%);
}
#misc,
.misc {
    background: linear-gradient(0deg, rgb(135, 135, 135) 15%, rgba(222, 222, 222, 1) 95%);
}

/* Art */
.artContainer {
    width: fit-content;
    height: fit-content;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
}
.artContainer img {
    object-fit: contain;
    width: 100%;
    height: 150px;
}
.artContainer p {
    margin: 10px 0px 0px 0px;
}
.selectedArt {
    background-color: rgba(252, 51, 13, 1) !important;
}
#art,
.art {
    background-color: rgba(252, 51, 13, 0.65);
}