/* Tags */
/* body { } */
h2 {
    font-size: 50px;
    margin-bottom: 100px;
}
h3 {
    font-size: 30px;
    margin-top: -10px;
    text-align: center;
}
a {
    font-size: 20px;
}

#bsGradient {
    position: absolute;
    height: 400px;
    width: 200%;
    
    background: linear-gradient(rgb(59, 26, 92) 0%, rebeccapurple 50%);
    
    transform: rotate(5deg);
    left: -250px;
    top: 250px;
    z-index: -1;
}

/* Classes */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 40px 0px;
}
.instance {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: fit-content;

    background-color: rgb(41, 41, 41);
    border: 2px solid rgb(70, 70, 70);
    border-radius: 50px;

    padding: 40px;
    margin-top: 40px;
    gap: 20px;
    transition: all 0.5s;
}
.others {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
}
.instance a img {
    width: 300px;
    height: auto;

    border: 2px solid transparent;
    border-radius: 80px;
    
    user-select: none;
    transition: border-radius 0.5s;
}
/* .instance:hover {
    border-style: solid;
} */
.instance a img:hover {
    border-radius: 120px;
    border: 2px dotted rgb(100, 100, 100);
}

/* Others override */
.others .instance {
    width: 250px;
}
.others .instance a img {
    width: 150px;
}

/* Rating bullshit! */
.rate {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    user-select: none;
    /* pointer-events: none; */
}
.rate img {
    width: 40px;
    height: auto;
}
.off {
    filter: drop-shadow(0px 0px 10px rgb(20, 20, 20, 0.6))
}
.on {
    filter: drop-shadow(0px 0px 10px rgb(236, 212, 95, 0.4))
}

/* Podium stuff */
.podium {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 60px;
}
.podium .instance {
    background-color: rgb(31, 31, 31);
}
.n1 {
    border: 2px dashed rgb(255, 217, 0);
    filter: drop-shadow(0px 0px 10px rgb(255, 217, 0, 0.8));
    box-shadow: inset 8px 8px 10px rgb(61, 56, 27), inset -8px -8px 10px rgb(61, 56, 27);
    
    position: relative;
    top: -100px;
}
.n2 {
    border: 2px dashed rgb(205, 200, 200);
    filter: drop-shadow(0px 0px 10px rgb(205, 200, 200, 0.8));
    box-shadow: inset 8px 8px 10px rgb(63, 63, 63), inset -8px -8px 10px rgb(63, 63, 63);
    
    position: relative;
    top: -50px;
}
.n3 {
    border: 2px dashed rgb(165, 75, 42);
    filter: drop-shadow(0px 0px 10px rgb(165, 75, 42, 0.8));
    box-shadow: inset 8px 8px 10px rgb(33, 17, 12, 0.8), inset -8px -8px 10px rgb(33, 17, 12, 0.8);
}

/* Mobile */
@media (max-width: 1570px) {
    .n1, .n2, .n3 { width: 230px; }
    .instance a img { width: 240px; }
    .podium { gap: 10px; }
}
@media (max-width: 960px) {
    .n1, .n2, .n3 { width: 140px; }
    .instance a img { width: 140px; }
}
@media (max-width: 710px) {
    .podium { flex-direction: column; }
    .instance a img { width: 320px; }
    .n1, .n2, .n3 {
        width: 320px;
        top: 0;
    }
    .n1 { order: -1; }
    h2 { margin-bottom: 10px; }
}
@media (max-width: 400px) {
    .n1, .n2, .n3 { width: 240px; }
    .instance a img { width: 240px; }
}