:root {
	--red: rgb(255, 55, 55);
	--green: rgb(55, 255, 55);
	--blue: rgb(55, 55, 255);
	--yellow: rgb(225, 255, 55);
	--orange: rgb(255, 172, 55);
	--pink: rgb(255, 55, 255);
	--lightblue: rgb(55, 255, 255);
	--lightgrey: rgb(110, 110, 110);
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Ubuntu Mono";
	background-image: radial-gradient(
		rgba(52, 52, 52, 0.7),
		rgb(13, 13, 13, 0.9) 140%
	);
	/* linear-gradient(rgba(255, 255, 255, 0.3) 6px, transparent 1px) !important; */
	background-repeat: repeat;
	text-shadow: 0px 0px 6px #9d9999;
	overflow-x: hidden;
	animation: startup 0.8s both 0s;
}
h1 {
	font-size: 80px;
}
p {
	font-size: 40px;
}
a:visited {
	color: white !important;
}

#terminal {
	width: 60%;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	padding: 10% 0px 15px 20%;
}
#inputbox {
	padding: 10px 0px 10px 0px;
}
#terminfo *,
#inputbox * {
	display: inline;
}
#selector {
	margin-right: 10px;
}
#output {
	white-space: pre-line;
}
#blink {
	margin-left: -10px;
	animation: blinkanim 1s step-start 0s infinite;
}

/* Terminal colors */
.re {
	color: var(--red);
	text-shadow: 0px 0px 6px #9d3636;
}
.gr {
	color: var(--green);
	text-shadow: 0px 0px 6px #369d36;
}
.bl {
	color: var(--blue);
	text-shadow: 0px 0px 6px #36369d;
}
.ye {
	color: var(--yellow);
	text-shadow: 0px 0px 6px #9d9836;
}
.or {
	color: var(--orange);
	text-shadow: 0px 0px 6px #9d7036;
}
.pi {
	color: var(--pink);
	text-shadow: 0px 0px 6px #9d3698;
}
.lb {
	color: var(--lightblue);
	text-shadow: 0px 0px 6px #369d9d;
}
.lg {
	color: var(--lightgrey);
	text-shadow: 0px 0px 6px #484848;
}

/* Animations */
@keyframes blinkanim {
	50% {
		opacity: 0;
	}
}

@keyframes startup {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes rainbow {
	0%, 100% {
		color: rgb(255, 0, 0);
		text-shadow: 0px 0px 6px #9d3636;
	}

	8% {
		color: rgb(255, 127, 0);
		text-shadow: 0px 0px 6px #9d7036;
	}

	16% {
		color: rgb(255, 255, 0);
		text-shadow: 0px 0px 6px #9d9836;
	}

	25% {
		color: rgb(127, 255, 0);
		text-shadow: 0px 0px 6px #5f9d36;
	}

	33% {
		color: rgb(0, 255, 0);
		text-shadow: 0px 0px 6px #369d36;
	}

	41% {
		color: rgb(0, 255, 127);
		text-shadow: 0px 0px 6px #369d6a;
	}

	50% {
		color: rgb(0, 255, 255);
		text-shadow: 0px 0px 6px #369d9d;
	}

	58% {
		color: rgb(0, 127, 255);
		text-shadow: 0px 0px 6px #36639d;
	}

	66% {
		color: rgb(0, 0, 255);
		text-shadow: 0px 0px 6px #38369d;
	}

	75% {
		color: rgb(127, 0, 255);
		text-shadow: 0px 0px 6px #64369d;
	}

	83% {
		color: rgb(255, 0, 255);
		text-shadow: 0px 0px 6px #9d3698;
	}

	91% {
		color: rgb(255, 0, 127);
		text-shadow: 0px 0px 6px #9d3676;
	}
}
